#block1 {
    background-color: #dae5f7; 
    padding: 30px; 
    margin-bottom: 5px;
    border: 1px dotted grey;
    font-family: Arial, Helvetica, sans-serif;
}

#block2 {
    background-color: #daf7ed; 
    padding: 30px;
    border: 1px dotted grey;
    font-family: Arial, Helvetica, sans-serif;
    word-break: break-all;
    margin-top: 20px;
}

#privText {
    font-family: Arial, Helvetica, sans-serif;
    word-break: break-all;
}

#pubText {
    font-family: Arial, Helvetica, sans-serif;
    word-break: break-all;
}

#form2 {
    margin-top: 20px;
}

body {
    background-color: #2E2E47;
}
label {
    color:white;
}
input[type=button] {
    background-image: linear-gradient(92.55deg,#E70077 3.08%,#FC8F0C 97.48%);
    padding: 0.5rem 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    border: transparent;
    border-radius: 0.20rem
}
input[type=text], input[type=password]  {
    padding: 0.5rem;
    border: double 3px transparent;
    border-radius: 3px;
    color: #fff;
    background-image: linear-gradient(#2E2E47, #2E2E47),
                    linear-gradient(to right, orange, yellow);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    border-image-source: linear-gradient(92.55deg,#E70077 3.08%,#FC8F0C 97.48%);
    border-image-slice: 1;
}
input[type=text]:focus-visible, input[type=password]:focus-visible {
    outline: none;
}

#token {
    color: #000;
}

#wallets {
    color: #000;
}
